@import "normalize";
@import "flexslider";
@import "grid";

/*global*/
body {
	margin: 0;
	padding: 0;
	font-family: "rooney-sans", helvetica, arial ,sans-serif;
	background: #fff6e4 url(/assets/images/texture.gif);

}

h1 { 
	font-size: 1.5em; /*24px*/
	}

br {
	clear: both;
}

.script {
	 font-family: 'Pacifico', cursive;
}



/*navigation*/
.header_background {
	width: 100vw;
	height: 125px;
	position: absolute;
	top: 0;
	background: #ff9563;
	z-index: -1;
}
#header {
	background: #ff9563; /*#ff9966*/
	height: 125px; 
	color: #fffdfc;
	font-family: "ff-cocon-web-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	z-index: 0;
}
#logo {
	width: 320px ;
	float: left;
	box-sizing: border-box;
	padding: 0 0 0 80px;
	z-index: 1;
}
#logo h1 {
	color: #fffdfc;
	text-shadow: 1px 2px 3px rgba(0,0,0,.2), -1px -1px 3px rgba(0,0,0,.1);
}

#header ul {
	width: 620px;
	display: inline-block;
	font-size: 24px;
	line-height: 125px;
	list-style-type: none;

}

#header li {
	float: right;
	margin: 0 0 0 70px;
	/*text-shadow: 2px 2px 5px rgba(255,85,0,.5);*/
	
}
#header a {
	color: #fffdfc;
	text-shadow: 1px 2px 3px rgba(0,0,0,.2), -1px -1px 3px rgba(0,0,0,.1);
	text-decoration: none;
}


/*slides*/

#slideshow_container {
	margin-top: 40px;
}

/*content*/
div[class~="con"] {
	color: #000;
	height: 250px;
	margin-bottom: 20px;
}

/*footer*/

.footer_background {
	width: 100vw;
	height: 100vw;
	max-height: 125px;
	position: absolute;
	top: 965px;
	background: #ff9563;
	z-index: -1;
	}

#footer {
	background: #ff9966;
	height: 125px; 
	bottom: 0;
	color: #fff;
	}

#footer ul {
	margin: 0 0 0 0;
	list-style-type: none;
	float: right;
	line-height: 125px;

}

#footer li {
	float: left;
	margin: 0 0 0 20px;
}

#footer li a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
}